@font-face {
 font-family: 'Hellix';
 src: url('Hellix-Light.woff2') format('woff2'), url('Hellix-Light.woff') format('woff');
 font-weight: 300;
 font-style: normal;
}
@font-face {
 font-family: 'Hellix';
 src: url('Hellix-Regular.woff2') format('woff2'), url('Hellix-Regular.woff') format('woff');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'Hellix';
 src: url('Hellix-SemiBold.woff2') format('woff2'), url('Hellix-SemiBold.woff') format('woff');
 font-weight: 600;
 font-style: normal;
}
@font-face {
 font-family: 'Hellix';
 src: url('Hellix-Bold.woff2') format('woff2'), url('Hellix-Bold.woff') format('woff');
 font-weight: bold;
 font-style: normal;
}
body {
 font-family: "Hellix", sans-serif;
}
.header {
 display: flex;
 flex-wrap: nowrap;
 justify-content: space-between;
 width: 60%;
 height: 58px;
 margin: 53px auto 124px;
 align-items: center;
}
.logo {
 display: flex;
 flex-wrap: nowrap;
 width: 167px;
 height: 58px;
 justify-content: space-between;
 align-items: center;
 order: -1;
}
.logo img {
 width: 58px;
 height: 58px;
}
.logo figcaption {
 width: 84px;
 height: 29px;
 font-weight: 700;
 font-size: 24px;
 text-align: center;
 color: #202020;
}
.menu ul {
 list-style-type: none;
 display: flex;
 flex-wrap: nowrap;
 gap: 40px;
}
.menu li {
 display: inline;
}
.menu a {
 height: 17px;
 font-weight: 600;
 font-size: 14px;
 color: #202020;
 text-decoration: none;
}
.menu .contact {
 display: inline-flex;
 justify-content: center;
 align-items: center;
 width: 100px;
 height: 24px;
 background-color: #5528ff;
 color: #ffffff;
 border: none;
 border-radius: 5px;
 font-weight: 600px;
 font-size: 14px;
}
.menu .contact:hover {
 background-color: #9948ff;
}
.content h1 {
 width: 60%;
 margin: auto;
 font-weight: 700;
 font-size: 58px;
 text-align: center;
 color: #202020;
 line-height: 150%;
}
.content p {
 width: 60%;
 margin: 24px auto 70px;
 font-weight: 400;
 font-size: 32px;
 color: #4f4f4f;
 line-height: 150%;
}
.content .contact {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 235px;
 height: 60px;
 margin-left: 20%;
 background-color: #5528ff;
 color: #ffffff;
 border: none;
 border-radius: 10px;
 text-decoration: none;
 font-weight: 400;
 font-size: 24px;
}
.content .contact:hover {
 background-color: #9948ff;
}
h2 {
 display: inline-block;
 width: 150px;
 height: 17px;
 font-weight: 300;
 font-size: 14px;
 text-align: center;
 background-color: #ffffff;
 color: #c2c2c2;
 margin-top: 100px;
 margin-bottom: -8px;
 margin-left: calc(20% - 19px);
}
hr {
 margin-top: -8px;
 margin-bottom: 100px;
 color: #c2c2c2;
}
.services {
 display: grid;
 grid-template: repeat(2, 1fr) / repeat(2, 1fr);
 width: 60%;
 margin: auto;
 gap: 80px 15%;
}
.service {
 display: grid;
 grid-template: 66px 1fr / 194px 1fr;
 place-items: center center;
}
.service img {
 grid-row: span 2;
}
.service h3 {
 font-weight: 400;
 font-size: 28px;
 color: #000000;
}
.service p {
 font-weight: 400;
 font-size: 14px;
 color: #b2b2b2;
 line-height: 150%;
}
.clients {
 display: grid;
 grid-template: repeat(3, 1fr) / repeat(4, 1fr);
 width: 60%;
 margin: -40px auto 0;
 gap: 60px 8%;
}
.our-team {
 display: grid;
 grid-template: repeat(3, 1fr) / repeat(3, 1fr);
 width: 60%;
 margin: auto;
}
.worker img {
 width: 100px;
 height: 100px;
 border-radius: 100%;
}
.worker h3 {
 height: 34px;
 font-weight: 700;
 font-size: 28px;
 color: #202020;
}
.worker p {
 height: 17px;
 font-weight: 400;
 font-size: 14px;
 color: #b2b2b2;
}
.footer {
 display: flex;
 flex-wrap: nowrap;
 justify-content: space-between;
 align-items: center;
 height: 100px;
 background-color: #f7f7f7;
}
.footer .social-networks {
 display: flex;
 column-gap: 40px;
 margin-right: 20%;
}
.footer i {
 font-size: 24px;
 color: #b2b2b2;
}
.footer img {
 width: 60px;
 height: 60px;
 margin-left: 20%;
}
