@font-face {
 font-family: 'Hellix';
 src: url('Hellix-Light.woff2') format('woff2'), url('Hellix-Light.woff') format('woff');
 font-weight: 300;
 font-style: normal;
}
@font-face {
 font-family: 'Hellix';
 src: url('Hellix-Regular.woff2') format('woff2'), url('Hellix-Regular.woff') format('woff');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'Hellix';
 src: url('Hellix-SemiBold.woff2') format('woff2'), url('Hellix-SemiBold.woff') format('woff');
 font-weight: 600;
 font-style: normal;
}
@font-face {
 font-family: 'Hellix';
 src: url('Hellix-Bold.woff2') format('woff2'), url('Hellix-Bold.woff') format('woff');
 font-weight: bold;
 font-style: normal;
}
body {
 font-family: "Hellix", sans-serif;
}
.header {
 display: flex;
 flex-wrap: nowrap;
 justify-content: space-between;
 align-items: center;
 width: 100%;
 max-width: 1180px;
 height: 58px;
 position: relative;
 box-sizing: border-box;
 padding: 0 15px;
 margin: 53px auto 124px;
}
.logo {
 display: flex;
 flex-wrap: nowrap;
 justify-content: space-between;
 align-items: center;
 height: 58px;
}
.logo img {
 width: 58px;
 height: 58px;
 margin-right: 25px;
}
.logo figcaption {
 height: 29px;
 font-weight: 700;
 font-size: 24px;
 text-align: center;
 color: #202020;
 text-decoration: none;
}
.menu ul {
 display: flex;
 flex-wrap: nowrap;
 justify-content: flex-start;
 gap: 40px;
 width: 379px;
 height: 24px;
 list-style-type: none;
}
.menu a {
 height: 17px;
 font-weight: 600;
 font-size: 14px;
 color: #202020;
 text-decoration: none;
}
.menu .contact {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100px;
 height: 24px;
 background-color: #5528ff;
 color: #ffffff;
 border-radius: 5px;
 font-weight: 600;
 font-size: 14px;
}
.menu .contact:hover {
 background-color: #9948ff;
}
.content {
 width: 100%;
 max-width: 1180px;
 position: relative;
 box-sizing: border-box;
 padding: 0 15px;
 margin: auto;
}
.content h1 {
 font-weight: 700;
 font-size: 58px;
 text-align: center;
 color: #202020;
 line-height: 150%;
}
.content p {
 padding: 0 15px;
 margin: 24px 0 70px;
 font-weight: 400;
 font-size: 32px;
 color: #4f4f4f;
 line-height: 150%;
}
.content .contact {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 235px;
 height: 60px;
 background-color: #5528ff;
 color: #ffffff;
 border: none;
 border-radius: 10px;
 text-decoration: none;
 font-weight: 400;
 font-size: 24px;
}
.content .contact:hover {
 background-color: #9948ff;
}
.separator {
 width: 100%;
 max-width: 1180px;
 position: relative;
 box-sizing: border-box;
 padding: 0 15px;
 margin: 100px auto -20px;
}
.separator h2 {
 width: 150px;
 height: 17px;
 margin-left: -20px;
 font-weight: 300;
 font-size: 14px;
 text-align: center;
 background-color: #ffffff;
 color: #c2c2c2;
}
hr {
 margin-bottom: 100px;
 color: #c2c2c2;
}
.services {
 display: grid;
 grid-template: repeat(2, 1fr) / repeat(2, 1fr);
 row-gap: 80px;
 width: 100%;
 max-width: 1180px;
 position: relative;
 box-sizing: border-box;
 padding: 0 15px;
 margin: auto;
}
.service {
 display: flex;
 flex-wrap: wrap;
 justify-content: start;
 align-items: center;
 column-gap: 48px;
 /*display: grid;
 grid-template: 66px 1fr / 168px 1fr;
 place-items: center center;*/
}
.service img {
 /*grid-row: span 2;*/
 width: 80px;
 height: 60px;
 margin-bottom: calc(100% - 60px);
}
.service h3 {
 width: calc(100% - 128px);
 max-width: 290px;
 font-weight: 400;
 font-size: 28px;
 color: #000000;
}
.service p {
 width: calc(100% - 128px);
 max-width: 290px;
 margin-top: -20px;
 font-weight: 400;
 font-size: 14px;
 color: #b2b2b2;
 line-height: 150%;
}
.clients {
 display: grid;
 grid-template: repeat(3, 120px) / repeat(4, 1fr);
 text-align: center;
 gap: 60px 8%;
 width: 100%;
 max-width: 1180px;
 margin: -40px auto 0;
 box-sizing: border-box;
 padding: 0 15px;
}
.our-team {
 display: grid;
 grid-template: repeat(3, 1fr) / repeat(3, 1fr);
 gap: 60px 8%;
 width: 100%;
 max-width: 1180px;
 margin: 0 auto;
 box-sizing: border-box;
 padding: 0 15px;
 position: relative;
}
.worker {
 display: flex;
 justify-content: flex-start;
 align-items: center;
/*
 display: grid;
 grid-template: 54px 1fr / 170px 1fr;
 place-items: center center;*/
}
.worker img {
 /*grid-row: span 2;*/
 flex-basis: 100px;
 /*height: 100px;*/
 border-radius: 100%;
 margin-right: 20px;
}
.worker h3 {
 flex-basis: calc(100% - 100px);
 /*height: 34px;*/
 font-weight: 700;
 font-size: 28px;
 color: #202020;
}
.worker p {
 flex-basis: calc(100% - 100px);
 /*height: 17px;*/
 font-weight: 400;
 font-size: 14px;
 color: #b2b2b2;
}
.footer {

 width: 100%;
 position: relative;
 box-sizing: border-box;
 padding: 0 15px;
 margin: 53px auto 124px;

 display: flex;
 flex-wrap: nowrap;
 justify-content: space-between;
 align-items: center;
 height: 100px;
 background-color: #f7f7f7;
 /*margin-top: 100px;*/
}
.footer .social-networks {
 padding-left: 0;
 display: flex;
 column-gap: 40px;
 margin-right: 20%;
}
.footer i {
 margin-left: 15px;
 font-size: 24px;
 color: #b2b2b2;
}
.footer img {
 width: 60px;
 height: 60px;
 margin-left: 20%;
}
