@font-face {
 font-family: 'Hellix';
 src: url('Hellix-Light.woff2') format('woff2'), url('Hellix-Light.woff') format('woff');
 font-weight: 300;
 font-style: normal;
}
@font-face {
 font-family: 'Hellix';
 src: url('Hellix-Regular.woff2') format('woff2'), url('Hellix-Regular.woff') format('woff');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'Hellix';
 src: url('Hellix-SemiBold.woff2') format('woff2'), url('Hellix-SemiBold.woff') format('woff');
 font-weight: 600;
 font-style: normal;
}
@font-face {
 font-family: 'Hellix';
 src: url('Hellix-Bold.woff2') format('woff2'), url('Hellix-Bold.woff') format('woff');
 font-weight: bold;
 font-style: normal;
}
body {
 font-family: "Hellix", "Arial", sans-serif;
 line-height: 200%;
}
.header {
 display: flex;
 flex-wrap: nowrap;
 justify-content: space-between;
 height: 58px;
}
.logo img {
 width: 58px;
 height: 58px;
}
.logo figcaption {
 width: 84px;
 height: 29px;
 font-weight: 700;
 font-size: 24px;
 text-align: center;
 color: #202020;
}
.menu ul {
 list-style-type: none;
}
.menu li {
 height: 17px;
 font-weight: 600;
 font-size: 14px;
 color: #202020;
}
.menu button {
 width: 100px;
 height: 24px;
 background-color: #5528FF;
 color: #FFFFFF;
 border: none;
 border-radius: 5px;
 font-weight: 600px;
 font-size: 14px;
}
.content h1 {
 font-weight: 700;
 font-size: 58px;
 text-align: center;
 color: #202020;
}
.content p {
 font-weight: 400;
 font-size: 32px;
 color: #4F4F4F;
}
.content button {
 width: 235px;
 height: 60px;
 background-color: #5528FF;
 color: #FFFFFF;
 border: none;
 border-radius: 10px;
 font-weight: 400;
 font-size: 24px;
}
h2 {
 height: 17px;
 font-weight: 300;
 font-size: 14px;
 color: #C2C2C2;
}
.services {
 display: grid;
 grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}
.service img {
 width: 80px;
 height: 60px;
}
.service h3 {
 height: 34px;
 font-weight: 400;
 font-size: 28px;
 color: #000000;
}
.service p {
 font-weight: 400;
 font-size: 14px;
 color: #B2B2B2;
}
.clients {
 display: grid;
 grid-template: repeat(3, 1fr) / repeat(4, 1fr);
}
.our-team {
 display: grid;
 grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
.worker img {
 width: 100px;
 height: 100px;
 border-radius: 100%;
}
.worker h3 {
 height: 34px;
 font-weight: 700;
 font-size: 28px;
 color: #202020;
}
.worker p {
 height: 17px;
 font-weight: 400;
 font-size: 14px;
 color: #B2B2B2;
}
.footer {
 display: flex;
 flex-wrap: nowrap;
 justify-content: space-between;
 height: 100px;
 background-color: #F7F7F7;
}
.footer img {
 height: 24px;
}
.footer > img {
 width: 60px;
 height: 60px;
}
